<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: inline-block;
        position: relative;
      }
      .container {
        display: inline-block;
        width: 50%;
      }
      .section {
        display: inline-block;
        margin: 3%;
      }
      .logo {
        width: 100px;
        height: 80px;
        position: relative;
        left: 280%;
      }
      .pwd {
        text-align: left;
        margin: 3% 0;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        line-height: 25px;
      }
      .warning {
        margin-bottom: 5%;
        color: red;
        text-align: left;
        position: relative;
        left: 25%;
      }
      .welcome {
        margin: -5% 0;
        position: relative;
        left: 5%;
      }
      .subheading {
        text-align: center;
        font-weight: 700;
      }
      .button {
        width: 150px;
        height: 50px;
        margin-bottom: 5%;
        position: relative;
        left: 40%;
      }
      .button button {
        width: 150px;
        height: 40px;
        background: linear-gradient(#febf10, #b26c29);
        color: #fff;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
      .button a {
        text-decoration: none;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div>
          <img src="cid:logo" class="logo" />
        </div>
      </div>
      <div class="section">
        <img src="cid:welcome" class="welcome" />
      </div>
      <div class="section">
        <p class="subheading">You successfully registerd to our system.</p>
        <br />
        <p>
            Welcome to the Resto. Let's Enjoy your meals with us
        </p>
        <p>Thank you.</p>
      </div>
    </div>
  </body>
</html>
